@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css";
.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px; }

.disabled {
  color: #666;
  cursor: default; }

.show {
  display: inline-block !important; }

body {
  margin: 10px 0 0 0; }
  body .container {
    font-family: arial, helvetica, sans-serif;
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
    width: 100%; }
    body .container .player-container {
      margin: 0 auto;
      text-align: left; }
      body .container .player-container .player {
        height: 60px;
        margin: 0 auto;
        position: relative;
        width: 400px;
        /* Small devices (tablets, 768px and up) */
        /* Medium devices (desktops, 992px and up) */
        /* Large devices (large desktops, 1200px and up) */
        *zoom: 1; }
        @media (min-width: 768px) and (max-width: 991px) {
          body .container .player-container .player {
            width: 470px; } }
        @media (min-width: 992px) and (max-width: 1100px) {
          body .container .player-container .player {
            width: 470px; } }
        @media (min-width: 1200px) {
          body .container .player-container .player {
            width: 470px; } }
        body .container .player-container .player .large-toggle-btn {
          background-color: #fff;
          border: 1px solid #d9d9d9;
          border-radius: 2px;
          float: left;
          height: 50px;
          margin: 0 10px 0 0;
          overflow: hidden;
          position: relative;
          text-align: center;
          vertical-align: bottom;
          width: 54px; }
          body .container .player-container .player .large-toggle-btn .large-play-icon {
            cursor: pointer;
            display: inline-block;
            position: relative; }
            body .container .player-container .player .large-toggle-btn .large-play-icon:before {
              content: "\f04b";
              font: 2.5em "FontAwesome"; }
          body .container .player-container .player .large-toggle-btn .large-pause-icon {
            cursor: pointer;
            display: inline-block;
            position: relative; }
            body .container .player-container .player .large-toggle-btn .large-pause-icon:before {
              content: "\f04c";
              font: 2.5em "FontAwesome"; }
        body .container .player-container .player .info-box {
          bottom: 10px;
          left: 65px;
          position: absolute;
          top: 15px; }
          body .container .player-container .player .info-box .track-info-box {
            float: left;
            font-size: 12px;
            margin: 0 0 6px 0;
            visibility: hidden;
            width: 400px;
            *zoom: 1; }
            body .container .player-container .player .info-box .track-info-box .track-title-text {
              display: inline-block; }
            body .container .player-container .player .info-box .track-info-box .audio-time {
              display: inline-block;
              padding: 0 0 0 5px;
              width: 80px; }
            body .container .player-container .player .info-box .track-info-box:before, body .container .player-container .player .info-box .track-info-box:after {
              content: " ";
              display: table; }
            body .container .player-container .player .info-box .track-info-box:after {
              clear: both;
              display: block;
              font-size: 0;
              height: 0;
              visibility: hidden; }
        body .container .player-container .player .progress-box {
          float: left;
          min-width: 270px;
          position: relative; }
          body .container .player-container .player .progress-box .progress-cell {
            height: 12px;
            position: relative; }
            body .container .player-container .player .progress-box .progress-cell .progress {
              background: #fff;
              border: 1px solid #d9d9d9;
              height: 8px;
              position: relative;
              width: auto; }
              body .container .player-container .player .progress-box .progress-cell .progress .progress-buffer {
                background: #337ab7;
                height: 100%;
                width: 0; }
              body .container .player-container .player .progress-box .progress-cell .progress .progress-indicator {
                background: #fff;
                border: 1px solid #bebebe;
                border-radius: 3px;
                cursor: pointer;
                height: 10px;
                left: 0;
                overflow: hidden;
                position: absolute;
                top: -2px;
                width: 22px; }
        body .container .player-container .player .controls-box {
          bottom: 10px;
          left: 350px;
          position: absolute; }
          body .container .player-container .player .controls-box .previous-track-btn {
            background-color: #fff;
            border: 1px solid #d9d9d9;
            cursor: pointer;
            display: inline-block; }
            body .container .player-container .player .controls-box .previous-track-btn .previous-track-icon:before {
              content: "\f049";
              font: 1em "FontAwesome"; }
          body .container .player-container .player .controls-box .next-track-btn {
            background-color: #fff;
            border: 1px solid #d9d9d9;
            cursor: pointer;
            display: inline-block; }
            body .container .player-container .player .controls-box .next-track-btn .next-track-icon:before {
              content: "\f050";
              font: 1em "FontAwesome"; }
        body .container .player-container .player:before, body .container .player-container .player:after {
          content: " ";
          display: table; }
        body .container .player-container .player:after {
          clear: both;
          display: block;
          font-size: 0;
          height: 0;
          visibility: hidden; }
      body .container .player-container .play-list {
        display: block;
        margin: 0 auto 20px auto;
        width: 400px; }
        body .container .player-container .play-list .play-list-row {
          display: block;
          margin-bottom: 10px;
          margin-top: 10px;
          width: 100%;
          *zoom: 1; }
          body .container .player-container .play-list .play-list-row .track-title .playlist-track {
            background-color: #fff;
            border: 0;
            cursor: pointer;
            font-size: 1em;
            padding: 0;
            color: #000;
            text-decoration: none; }
            body .container .player-container .play-list .play-list-row .track-title .playlist-track:hover {
              text-decoration: underline; }
          body .container .player-container .play-list .play-list-row .small-toggle-btn {
            background-color: #fff;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            cursor: pointer;
            display: inline-block;
            height: 25px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            text-align: center;
            vertical-align: middle;
            width: 25px; }
            body .container .player-container .play-list .play-list-row .small-toggle-btn .small-play-icon {
              display: inline-block; }
              body .container .player-container .play-list .play-list-row .small-toggle-btn .small-play-icon:before {
                content: "\f04b";
                font: 0.95em "FontAwesome"; }
            body .container .player-container .play-list .play-list-row .small-toggle-btn .small-pause-icon {
              display: inline-block; }
              body .container .player-container .play-list .play-list-row .small-toggle-btn .small-pause-icon:before {
                content: "\f04c";
                font: 0.95em "FontAwesome"; }
          body .container .player-container .play-list .play-list-row .track-number {
            display: inline-block; }
          body .container .player-container .play-list .play-list-row .track-title {
            display: inline-block; }
            body .container .player-container .play-list .play-list-row .track-title .playlist-track {
              text-decoration: none; }
              body .container .player-container .play-list .play-list-row .track-title .playlist-track:hover {
                text-decoration: underline; }
          body .container .player-container .play-list .play-list-row .track-title.active-track {
            font-weight: bold; }
          body .container .player-container .play-list .play-list-row:before, body .container .player-container .play-list .play-list-row:after {
            content: " ";
            display: table; }
          body .container .player-container .play-list .play-list-row:after {
            clear: both;
            display: block;
            font-size: 0;
            height: 0;
            visibility: hidden; }

/*# sourceMappingURL=styles.css.map */
