      .play-list {
        display: block;
        margin: 0 auto 20px auto;
        width: 400px;
        .play-list-row {
          display: block;
          margin-bottom: 10px;
          margin-top: 10px;
          width: 100%;
          .track-title {
            .playlist-track {
              background-color: #fff;
              border: 0;
              cursor: pointer;
              font-size: 1em;
              padding: 0;
              &:hover {
                text-decoration: underline;
              }
              color: #000;
              text-decoration: none;
            }
          }
          .small-toggle-btn {
            background-color: #fff;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            cursor: pointer;
            display: inline-block;
            height: 25px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            text-align: center;
            vertical-align: middle;
            width: 25px;
            .small-play-icon {
              &:before {
                content: "\f04b";
                font: 0.95em "FontAwesome";
              }            
              display: inline-block;
            } 
            .small-pause-icon {
              &:before {
                content: "\f04c";
                font: 0.95em "FontAwesome";
              }            
              display: inline-block;
            }         
          }
          .track-number {
            display: inline-block;
          }
          .track-title {
            display: inline-block;
            .playlist-track {
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .track-title.active-track {
            font-weight: bold;
          }
          @include clearfix();
        }
      }//end .play-list